*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Archivo', sans-serif;
}
:root{
    scroll-behavior: smooth;
    --orange: #FF7143;
    --blue: #5454d4;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0;
}
.container--hero{
    padding: 0;
}
.nav{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_menu{
    background-color: var(--orange);
    width: 35px;
    cursor: pointer;
    z-index: 100;
    border-radius: 5px;
}
.nav_list{
    background-color: #000;
    display: none;
}